/* 全局样式 */

/* 全局注入 tailwind 样式 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 20px 20px 60px;
  /* max-width: 680px; */
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
